* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

//Variables
$blueColor: #0c7ca1;


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background: #000;
}



.main-heading {
    width: 100%;
    background-color: $blueColor;
    height: 200px;

    .logos {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        width: 83%;
    }

    .profile-pic-icon {
        display: flex;
        align-items: center;
    }

    .border-bottom {
        border-bottom: 1px solid rgb(255, 255, 255, 0.15);


    }
    .la-bars{
        margin-left: 260px;
        cursor: pointer;
    }

    .la-bell {
        padding: 10px;
        font-size: 15px;
        color: #fff;
    }

    .small-pic {
        height: 30px;
        width: 30px;
        border-radius: 30px;
    }

    .profile-logo {
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }
}

//Main-heading End

.main-nav {
    display: flex;

    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    .list-items {
        display: flex;
    }

    .list-item {
        padding: 20px;
    }

    li {
        list-style: none;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .search-icon {
        border-radius: 5px;
        display: flex;
        //flex-grow: .5;
        width: 28%;
        align-items: center;
        padding: 5px;
        margin-right: 20px;
        background-color: #3ba2bd;

        .la-search {
            padding: 0px 10px;
            font-size: 20px;
            color: #fff;
        }
    }

    input {
        padding: 5px;
        border: none;
        width: 100%;
        background-color: #3ba2bd;

        &:focus {
            outline: none;
        }

        &::-webkit-input-placeholder {
            /* Chrome/Opera/Safari */
            color: #fff;
        }
    }
}

//Main-nav End




.container {
    width: 100%;
    background-color: #f3f4f6;
    height: 800px;
}

.btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #dcdfe3;
    background-color: #fff;
}

.right-flex {
    margin-left: 10px;
    width: 30%;

    //flex-grow: .5;
    .top-right {
        background-color: rgb(128, 16, 16);
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 12px;
        margin-bottom: 15px;
        padding: 20px;
        // box-shadow: -5px -5px -3px #f3f4f6 ;
        box-shadow: 0px 2px 3px rgb(173, 166, 166);

        h3 {
            font-size: 14px;
        }
    }
}


.img-text {
    display: flex;
}

.big-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 10px;

}

.f-12 {
    font-size: 12px;
    font-weight: 600;
    color: #7e8590;
}

.info-div {
    padding: 10px 0px;
    margin: 10px 0px;
    line-height: 1.6;

    //border-bottom: 1px solid #ebebeb;
    .p-bold {
        font-size: 12px;
        font-weight: 700;
        color: #111825;
    }

    p {
        font-size: 12px;
    }

}

.btn-again {
    width: 100%;
}

.main-flex {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: -70px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

}

.left-flex {
    margin-right: 10px;
    width: 67%;
    display: flex;
    flex-direction: column;

    //flex-grow: 1;
    .top-left {
        display: flex;
        flex-direction: column;
        border: 1px solid #fff;
        background-color: #fff;
        border-radius: 12px;
        box-shadow: 0px 2px 3px rgb(173, 166, 166);
        margin-bottom: 15px;
    }

    .top-left2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    }
}




.days-left {
    display: flex;
    align-items: center;
}

.todo {
    flex-grow: 1;
    text-align: center;
    padding: 15px;
    border-left: 1px solid #ebebeb;

    &:first-child {
        border: none;
    }

    span {
        color: #222937;
    }

}



.icons {
    display: flex;
    justify-content: space-between;
    margin: 20px;

    i {
        font-size: 25px;
        padding: 5px;
        //background-color: #f7fbfc;
        //color: #000;
    }


    .la-arrow-up {
        transform: rotate(45deg);
    }
}

.top-left3 {
    display: flex;
    flex-direction: column;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0px 2px 3px rgb(173, 166, 166);
    margin-bottom: 15px;

}

.icons-text {
    width: 50%;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;

    &:first-child {
        border-left: none;
    }
}

.icons-text2 {
    display: flex;
}

.m-10 {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 12px;
    //font-weight: 700;
    color: #8d929c;
}

.m-101 {
    margin-left: 20px;
    font-size: 12px;
    font-weight: 700;
    color: #545a64;
}

//ICONS

.la-check-circle {
    color: #7228da;
    background-color: #f5f3ff;
}

.la-clock {
    color: #13776f;
    background-color: #f0fdfa;
}

.la-user-friends {
    color: #106da4;
    background-color: #f0f9ff;
}

.la-briefcase {
    color: #ba6426;
    background-color: #fffbeb;
}

.la-undo {
    color: #bf123d;
    background-color: #fff1f2;
}

.la-graduation-cap {
    color: #4738c9;
    background-color: #eef2ff;
}

//IMAGES
.images {
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.img-txt {
    display: flex;

    .m-10 {
        margin-left: 10px;
    }

    .m-101 {
        margin-left: 10px;
    }
}

.hires-inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .btn {
        border-radius: 40%;
        padding: 5px;
        height: 30px;
        width: 50px;
    }
}

.h3-hires {
    margin-bottom: 20px;
}

.hires {
    display: flex;
    flex-direction: column;
}

.br {
    border: 1px solid #dcdfe3;
    margin-top: 20px;
}

.la-bars {
    font-size: 30px;
    display: none;
    color: #fff;
}

footer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    margin-top: 20px;

}




//MEDIA QUERY

//For Mobile

@media(max-width: 700px) {

.main-flex {
    flex-direction: column;
    margin-top: -55px;

}

.right-flex,
.left-flex {
    width: 100%;
    margin-left: 0px;
}

.main-nav {
    max-width: 700px;
    margin-top: -10px;
    flex-direction: column;

    .search-icon {
        margin-top: -10px;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .hide-dir {
        display: none;
    }
}

.container {
    height: 1600px;

}
}

.overlay{
    display: none;
}

@media(max-width: 500px) {

    .main-heading {
        height: 120px;
    }

    .la-bars {
        max-width: 500px;
        display: block;
    }

    .main-nav {
        align-items: flex-end;

        a {
            color: #fff;
            font-weight: 600;

            &:hover {
                color: #1c0475;
            }
        }


        .list-items {
            display: flex;
            background-color: #0c7ca1;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            z-index: 1;
            margin-top: 10px;
            flex-direction: column;

            .list-item {
                padding: 5px;
                margin-bottom: 20px;

                &:hover {
                    background-color: rgb(164, 195, 243);
                }

            }
        }
    }

    .main-nav {
        .search-icon {
            display: none;
        }

    }

    .main-flex {
        position: relative;
        //z-index: -1;
    }

    .uls {
        display: none;
    }

    .overlay {
        display:none;
        flex-direction: column;
        position: fixed;
        padding-top: 40px;
        left: 0px;
        top: 0;
        width: 100%;
        height: 100vh;
        background-color: #0c7ca1;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        z-index: 1;
    }

    .list-items-overlay {
        .la-bars {
            padding-left: 20px;
        }

        padding: 0px;

        a {
            text-decoration: none;
            color: #fff;
            font-size: 20px;
        }

        li {
            list-style: none;
        }
    }

    .list-item-overlay {
        padding: 20px;

        &:hover {
            background-color: lighten($blueColor, 5%)
        }
    }

    .search-icon-overlay {
        display: flex;
        padding: 20px;

        input {
            padding: 10px;
            width: 100%;
        }

        .la-search {
            font-size: 20px;
            padding: 5px;
            display: none;
        }
    }
    .la-times-circle{
        cursor: pointer;
        font-size: 25px;
        margin-top: -40px;
        margin-left: 425px;
        padding: 10px;
        font-weight: 600;
        border-radius: 5px;
        color: rgb(19, 17, 17);
        background-color: lighten($blueColor, 10%);
       
    }

}

//For Tablet

// @media(max-width: 1200px)
// and (min-width: 450px) 
// {
//    .main-flex{
//     max-width: 800px;
//    }
// }


.display-flex{
    display: flex;
}

